 <footer>
        <div class="container1 py-1">
            
            <div class="derechosr texto-footer text-center mt-5">
                <p>©2020 Coopyright Reserved: Johan Puentes</p>
            </div>
        </div>
    </footer>