{{> navegacion}}


<section class=" container panel1 text-center">
    <i class="fas fa-user"></i>
</section>
<section class="container1">
    <div>
        <h2>Proyectos</h2>
    </div>

    <div class="contcard ">
        <div class="card-deck ">
            <div class="card">
                <img src="img/1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center"> Proyecto</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="card-footer">
                    <a href="boton.html">Aplicar</a> </div>
            </div>
            <div class="card">
                <img src="img/1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Proyecto </h5>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.  </p>
                </div>
                <div class="card-footer">
                    <a href="boton2.html">Aplicar</a> </div>
            </div>
            <div class="card">
                <img src="img/1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Proyecto</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="boton3.html">Aplicar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <h2>Trabajos Desempeñados</h2>
    </div>
    <div class="card-deck ">
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
         <div class="card" >
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
         <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>


</section>


{{>footer}}